@using sitesatis.Models.entity
@model sitesatis.Controllers.productview

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Category List</h5>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">product name</th>
                                <th width="5%">content</th>
                                <th width="15%">category name</th>
                                <th width="*%">cargo type</th>
                                <th width="2%">cargo company</th>
                                <th width="2%">price</th>
                                <th width="2%">image path</th>
                                <th width="2%">publisher</th>
                                <th width="2%">quantity</th>
                                <th width="2%">repository name</th>
                                <th width="2%">date</th>
                                <th width="2%">delete</th>
                                <th width="2%">update</th>
                                <th width="2%">create</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.product.Take(3))
                            {
                            <tr>
                                <td>@item.product_name</td>
                                <td>@item.product_content</td>
                                <td>@item.category.category_name</td>
                                <td>@item.cargo_type.cargo_type1</td>
                                <td>@item.cargo.cargo_company</td>
                                <td>@item.product_price</td>
                                <td>@item.prouct_image_path</td>
                                <td>@item.user.user_name</td>
                                <td>@item.product_quantity</td>
                                <td>@item.repository.repository_name</td>
                                <td>@item.product_add_time</td>
                                <td><a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index","PostPageContent")" aria-expanded="false"><i class="mdi mdi-delete mdi-24px"></i><span class="hide-menu"></span></a></td>
                                <td><a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index","PostPageContent")" aria-expanded="false"><i class="mdi mdi-update mdi-24px"></i><span class="hide-menu"></span></a></td>
                                <td><a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index","PostPageContent")" aria-expanded="false"><i class="mdi mdi-hospital-building mdi-24px"></i><span class="hide-menu"></span></a></td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan=""><input type="button" class="btn-primary btn" name="name" value="" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@*
@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
@Html.ActionLink("Details", "Details", new { id = item.id }) |
@Html.ActionLink("Delete", "Delete", new { id = item.id })*@


